[Desktop Entry]
Encoding=UTF-8
Name=cPay
Comment=cPay P2P Cryptocurrency
Comment[fr]=cPay, monnaie virtuelle cryptographique pair à pair
Comment[tr]=cPay, eşten eşe kriptografik sanal para birimi
Exec=cpay-qt %u
Terminal=false
Type=Application
Icon=cpay128
MimeType=x-scheme-handler/cpay;
Categories=Office;Finance;
